boot/__pycache__/RColor.cpython-311.pyc
boot/__pycache__/RFPS.cpython-311.pyc
boot/__pycache__/RKernel.cpython-311.pyc
boot/__pycache__/RKey.cpython-311.pyc
boot/__pycache__/RLabel.cpython-311.pyc
boot/__pycache__/RSound.cpython-311.pyc
boot/__pycache__/RTensor.cpython-311.pyc
